<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/bmp" href="/static/img/favicon-16.bmp"/>
        {{.Head}}
    </head>
    <body>
        <div class="content">
        <div class="head" id="head">
            <div class="links">
                [Path: {{range $i, $a := .Links -}}
                    {{- if $i}}/{{end -}}
                    <a href="{{index $a 1}}">{{index $a 0}}</a>
                    {{- end}}] [<a href="/about">about</a>] [<a href="mailto:contact@deadfacade.net">contact</a>]
            </div>
            <span id="alerts"></span>
        </div>
        <div class="container">
        {{.Body}}
        </div>
        </div>
        <footer><a href=https://viralpubliclicense.org>VIRAL PUBLIC LICENSE | Copyleft (ɔ) All Rights Reversed</a></footer>
    </body>
</html>
